//danger
.col-custom {
  position: absolute;
  bottom: 1vh !important;
  width: 90%;
}
.card-text{
  margin-bottom: 4vh !important;
}
//danger

.price-cell{
  text-align: -webkit-center;
}

.row-mobilesize{
  border-bottom: 1px solid lightgray;
  margin: auto;
}
.card-text-mobile{
  margin-bottom: 0px !important;
}
